openapi: 3.0.2
info:
  contact:
    email: help@moov.io
    url: https://moov.io
  description: |
    Moov is a platform that enables developers to integrate all aspects of money movement with ease and speed. The Moov API makes it simple for platforms to send, receive, and store money. Our API is based upon REST principles, returns JSON responses, and uses standard HTTP response codes. To learn more about how Moov works at a high level, read our [concepts](https://docs.moov.io/guides/get-started/glossary/) guide.
  license:
    name: Unlicensed
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Moov API
  version: v0
  x-logo:
    url: https://moov.io/images/logo.png
    altText: Moov logo
servers:
- description: Production Environment
  url: https://api.moov.io
tags:
- description: |
    For server-to-server communication, use your API key's public key and secret key with Basic authentication. When using Basic authentication, you don't need to send a scope.

    Set the Authorization header to `Basic <credentials>` where credentials is the Base64 encoding of public key and private key joined by a single colon `:`.
  name: API authentication
- description: |
    When making requests to Moov from a browser, you can use OAuth with JSON Web Tokens (JWT).

    Our authentication flow follows the OAuth 2.0 standard. With this endpoint, you'll [create an access token](https://docs.moov.io/guides/quick-start/#create-an-access-token) that you will pass along with API requests or when initializing Moov.js. To generate an authentication token, you’ll need to specify [scopes](https://docs.moov.io/guides/developer-tools/scopes/) that enable the token to use a specific set of API endpoints. <br><br> If a scope is required, it will be listed in the description of the endpoint.
  name: Access token
- description: "[Accounts](https://docs.moov.io/guides/accounts/) represent a legal\
    \ entity (either a business or an individual) in Moov. You can create an account\
    \ for yourself or set up accounts for others, requesting different [capabilities](https://docs.moov.io/guides/accounts/capabilities/)\
    \ depending on what you need to be able to do with that account. You can retrieve\
    \ an account to get details on the business or individual account holder, such\
    \ as an email address or employer identification number (EIN). \n\nBased on the\
    \ type of account and its requested capabilities, we have certain [verification\
    \ requirements](https://docs.moov.io/guides/accounts/identity-verification/).\
    \ To see what capabilities that account has, you can use the [GET capability endpoint](https://docs.moov.io/api/moov-accounts/capabilities/get/).\
    \ \n\nWhen you sign up for the Moov Dashboard, you will have a **facilitator account**\
    \ which can be used to facilitate money movement between other accounts. A facilitator\
    \ account will not show up in your list of accounts and cannot be created via\
    \ API. To update your facilitator account information, use the settings page of\
    \ the Moov Dashboard.\n\nYou can disconnect an account within the account's settings\
    \ in the Moov Dashboard. This action cannot be undone. When an account is disconnected,\
    \ the account's history and wallet is retained, but transfers cannot be submitted,\
    \ and no actions can be taken on the account. See the [Dashboard](https://docs.moov.io/guides/dashboard/accounts/#disconnect-accounts)\
    \ guide for more information. It is not possible to permanently delete an account.\n"
  name: Accounts
- description: |
    You can retrieve helpful at-a-glance information about your account by getting metrics on categories such as new accounts, transfer counts, and transfer volume over different time periods.
  name: Analytics
- description: |
    Apple Pay offers a fast, easy, and secure way to accept card payments. The use of Apple Pay requires adherence to Apple's [guidelines](https://developer.apple.com/apple-pay/acceptable-use-guidelines-for-websites/) and [server requirements](https://developer.apple.com/documentation/apple_pay_on_the_web/setting_up_your_server). See our step-by-step [Apple Pay](https://docs.moov.io/guides/money-movement/card-acceptance/apple-pay/) guide for more information.
  name: Apple Pay
- description: |
    An application allows an account to connect to other accounts and gain access to their information and move money on their behalf.
  name: Application
- description: |
    You can retrieve an account's profile image. This is especially useful if you'd like to use the profile image for a corresponding account in your own product.
  name: Avatars
- description: "To transfer money with Moov, you’ll need to link a bank account to\
    \ your Moov account, then verify that account. You can link a bank account to\
    \ a Moov account by providing the bank account number, routing number, and Moov\
    \ account ID. \n\nWe require micro-deposit verification to reduce the risk of\
    \ fraud or unauthorized activity. You can verify a bank account by initiating\
    \ [micro-deposits](https://docs.moov.io/guides/sources/bank-accounts/#micro-deposit-verification),\
    \ sending two small credit transfers to the bank account you want to confirm.\
    \ Note that there is no way to initiate a micro-deposit from your bank of choice.\
    \ \n\nAlternatively, you can link and verify a bank account in one step through\
    \ an instant account verification token from a third party provider like [Plaid](https://docs.moov.io/guides/sources/bank-accounts/plaid)\
    \ or [MX](https://docs.moov.io/guides/sources/bank-accounts/mx/). Bank accounts\
    \ can have the following statuses: `new`, `pending`, `verified`, `verificationFailed`,\
    \ `errored`. Learn more by reading our guide on [bank accounts](https://docs.moov.io/guides/sources/bank-accounts/).\n"
  name: Bank accounts
- description: "Capabilities determine what a Moov account can do. Each capability\
    \ has specific [verification requirements](https://docs.moov.io/guides/accounts/identity-verification/),\
    \ depending on risk and compliance standards associated with different account\
    \ activities. For example, there are more information requirements for a business\
    \ that wants to charge other accounts than for an individual who simply wants\
    \ to receive funds. \n\nWhen you request a capability, we list the information\
    \ requirements for that capability. Once you submit the required information,\
    \ we need to verify the data. Because of this, a requested capability may not\
    \ immediately become active. Note, if an account requests and is approved for\
    \ `send-funds` or `collect-funds`, the `wallet` capability is automatically enabled\
    \ as well. For more detailed information on capabilities and capability IDs, read\
    \ our [capabilities guide](https://docs.moov.io/guides/accounts/capabilities/).\n"
  name: Capabilities
- description: |
    A Moov wallet can serve as a funding source for issuing virtual cards. Note that we currently only issue Visa cards. Virtual cards can then be used to spend funds from the wallet.

    <em> The `card-issuing` and `wallet` capabilities are required to be enabled before any card issuing functionality is available. Moov is in a private beta with select customers for card issuing.</em>
  name: Card issuing
  x-displayName: Cards
- description: You can link credit or debit cards to Moov accounts. You can use a
    card as a source for making transfers, which charges the card. To link a card
    to a Moov account and avoid some of the burden of PCI compliance, use the [card
    link Moov Drop](https://docs.moov.io/moovjs/drops/card-link). You cannot add a
    card via the Dashboard. If you're linking a card via API, you must provide Moov
    with a copy of your PCI attestation of compliance. When testing cards, use the
    designated [card numbers for test mode](https://docs.moov.io/guides/set-up-your-account/test-mode/#card-acceptance).
    You must contact Moov before going live in production with cards. Read our guide
    on [cards](https://docs.moov.io/guides/sources/cards/) for more information.
  name: Cards
- description: A connection forms a relationship between two accounts, allowing them
    to transact with each other. When you create an account for someone else, your
    account automatically has a connection with the account you've just created.
  name: Connections
- description: A [dispute](https://docs.moov.io/guides/money-movement/cards/disputes/)
    is a situation where a cardholder formally questions a transaction on their account
    with their card issuer. This could be for a number of reasons ranging from billing
    errors to fraudulent activity or dissatisfactory goods/services. If the dispute
    is recognized as legitimate, the issuer will reverse the payment (otherwise known
    as a chargeback).
  name: Disputes
- description: Authentication via using a email and password.
  name: Email/Password
- description: |
    Search for valid addresses using a partial or full address.
  name: Enriched address
- description: |
    By supplying an email address, you can retrieve a profile with enriched data fields. This service is offered in collaboration with Clearbit.
  name: Enriched profile
- description: |
    Files can be used for a multitude of different use cases including but not limited to, individual identity verification and business underwriting. You may need to provide documentation to enable capabilities or to keep capabilities enabled for an account. The maximum file size is 10MB. Each account is allowed a maximum of 50 files. Acceptable file types include csv, jpg, pdf, and png. To learn about uploading files in the Moov Dashboard, read our [file upload guide](https://docs.moov.io/guides/dashboard/accounts/#file-upload).
  name: Files
- description: |
    Information about industries and their merchant codes.
  name: Industries
- description: |
    Lookup ACH and wire participating financial institutions. We recommend using this endpoint when an end-user enters a routing number to confirm their bank or credit union.
  name: Institutions
- description: |
    Transfer allow you Moov money
  name: Money movement
- description: Meant for internal use by Moov
  name: Moov internal
  x-traitTag: true
- description: |
    We require users to multi factor in when using a new device.
  name: Multi-factor
- description: Details on Moov's open id connect implementation
  name: Open ID Connect
- description: |
    [Payment methods](https://docs.moov.io/guides/money-movement/payment-methods/) represent all of the ways an account can move funds to another Moov account. Payment methods are generated programmatically when a card or bank account is added or the status is updated e.g., `ach-debit-fund` will be added as a payment method once the bank account is verified.

    <em>RTP® and Push to Card are not yet generally available on Moov. Contact us for more information.</em>
  name: Payment methods
- description: |
    We strongly suggest using the /reversals endpoint for its functionality and enhanced flexibility when dealing with refunds (the /refunds endpoint is still supported).

    A reversal will dynamically orchestrate a cancellation or refund based on the status of settlement process. A cancellation occurs if the transfer has not been settled. A refund occurs if the transfer is in the process of settling, or has already been settled.

    A reversal cannot exceed the original transfer amount, and once the reversal process has started, it cannot be cancelled.
  name: Refunds
- description: |
    We think of a representative as an individual who can take major actions on behalf of a business. A representative can be the business owner, or anyone who owns 25% or more of the business. Some examples of representatives are the CEO, CFO, COO, or president. We require all business accounts to have valid information for at least one representative. Moov accounts must have verified business representatives before a business account can send funds, collect money from other accounts, or store funds in a wallet. To learn more, read our guide on [business representatives](https://docs.moov.io/guides/accounts/business-representatives/).
  name: Representatives
- description: How to sign a user up via app.moov.io
  name: Signup
- description: |
    A transaction is a record of a card's activity on a particular Moov account.
  name: Transactions
- description: |
    A [transfer](https://docs.moov.io/guides/money-movement/) is the movement of money between Moov accounts, from source to destination. Provided you have linked a bank account which has been verified, you can initiate a transfer to another Moov account. All you need to do is note a [paymentMethod](#tag/Payment-methods), the $ amount of the transfer, and a brief description. With Moov, you can also implement transfer groups, allowing you to associate multiple transfers together and run them sequentially. To learn more, read our guide on [transfer groups](https://docs.moov.io/guides/money-movement/transfer-groups/#transfer-statuses).
  name: Transfers
- description: |
    [Underwriting](https://docs.moov.io/guides/accounts/underwriting) is a tool Moov uses to understand a business’s profile before allowing them to collect funds on our platform. This profile includes information like a description of the company or the merchant’s business model, the industry they operate in, and transaction volume. Through underwriting, we can understand and prevent unnecessary financial risk for Moov and those transacting on our platform. Note that underwriting can be instant, but in some cases make take around 2 business days before approval.
  name: Underwriting
- description: |
    This allows app.moov.io invite new users to an account.
  name: User invites
- description: |
    Users are lightweight objects that handle signing in to our app.moov.io
  name: Users
- description: |
    Wallet transactions provide insight into funds that move in and out of an account’s wallet. For each Moov transfer, we create a corresponding transaction that represents how that initial source impacted a wallet. Read more about [wallet transactions](https://docs.moov.io/guides/wallets/transactions).
  name: Wallet transactions
- description: |
    A [Moov wallet](https://docs.moov.io/guides/wallet/) can serve as a funding source as you accumulate funds. You can also use the Moov wallet to:
     - Pre-fund transfers for faster payouts
     - Transfer funds between Moov wallets for instantly available funds

     <em> If you've requested the `send-funds` or `collect-funds` capability, the `wallet` capability will be automatically requested as well. Read more on the [data requirements for wallets here](https://docs.moov.io/guides/accounts/capabilities/#wallet).</em>
  name: Wallets
paths:
  /signup:
    post:
      description: Allows a user to sign themselves up off the website. They will
        receive an email allowing them to create an user to signin with.
      operationId: selfSignup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signup'
        description: Values to register with
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Successful empty response for unauthorized or any other returned
            http status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Self signup
      tags:
      - Signup
  /auth/signin/password:
    post:
      description: Allows a user to signin with a password
      operationId: SigninWithPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signin'
        description: Values to register with
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: The user successfully signed in
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Signin a user with email & password
      tags:
      - Email/Password
  /auth/signin/password/register:
    post:
      description: Sets up password authentication
      operationId: setupPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setup'
        description: Values to register with
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: The user successfully registered
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Register user with password
      tags:
      - Email/Password
  /auth/signin/password/change-password:
    post:
      description: Allows a user to change their password
      operationId: ChangePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePassword'
        description: Current password and new
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Successful empty response for unauthorized or any other returned
            http status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Change password
      tags:
      - Email/Password
  /auth/signin/password/recover:
    post:
      description: Allows a user recover their account via an email flow
      operationId: RecoverPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recover'
        description: Email to send recovery instructions to
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Successful empty response for unauthorized or any other returned
            http status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Recover password
      tags:
      - Email/Password
  /auth/signin/password/recover/reset-password:
    post:
      description: Allows the user to set a password after recovering their account
      operationId: ResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPassword'
        description: Email to send recovery instructions to
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Successful empty response for unauthorized or any other returned
            http status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Set password for recovery
      tags:
      - Email/Password
  /auth/signin/oidc/{providerID}:
    get:
      description: "Initiates the authentication with the Provider specified by `providerID`.\n\
        This will redirect to the provider who will authenticate the user. Once the\
        \ provider has authenticated \nthe user it will redirect them back to us on\
        \ the `/callback` url.\n"
      operationId: OIDCAuthentication
      parameters:
      - description: Name of the Provider to use
        in: path
        name: providerID
        required: true
        schema:
          example: my-oidc-provider
          maxLength: 20
          pattern: ^[a-z0-9-]+$
          type: string
      responses:
        "302":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: |
            If using the OpenID Connect or OAuth 2.0 provider it issues a redirect to the providers page.
          headers:
            Location:
              schema:
                $ref: '#/components/schemas/URL'
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Authenticate with OIDC Provider
      tags:
      - Open ID Connect
  /auth/signin/oidc/{providerID}/callback:
    get:
      description: "This is called by the users browser once their OpenID Connect\
        \ provider has authenticated the user. The \nOIDC provider will send tokens\
        \ we inspect and use to obtain their information and log them into the system.\n"
      operationId: OIDCCallback
      parameters:
      - description: Name of the Provider to use
        in: path
        name: providerID
        required: true
        schema:
          example: my-oidc-provider
          maxLength: 20
          pattern: ^[a-z0-9-]+$
          type: string
      responses:
        "302":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: |
            Redirects to where we want to send the user to handle verification of device
          headers:
            Location:
              schema:
                $ref: '#/components/schemas/URL'
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Callback from OIDC Provider
      tags:
      - Open ID Connect
  /auth/verify:
    post:
      description: Checks to ensure a device is verified and if not how to go about
        getting it verified
      operationId: isDeviceVerified
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceVerification'
                maxItems: 300
                type: array
          description: Devices
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Device verification
      tags:
      - Verification
  /auth/verify/email:
    post:
      description: Checks to ensure a device is verified and if not how to go about
        getting it verified
      operationId: checkVerificationCodeFromEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyViaEmail'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceVerification'
          description: Devices
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Device verification
      tags:
      - Verification
  /auth/verify/email/send:
    post:
      description: Send device verification code via email to the email address of
        the user
      operationId: sendVerificationCodeViaEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendViaEmail'
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Send code via email
      tags:
      - Verification
  /oauth2/token:
    post:
      description: Use the `client_id` and `client_secret` to generate an access token.
      operationId: CreateOAuth2Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCredentialsGrantToAccessTokenRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientCredentialsGrantToAccessTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: Successfully exchanged the code to create a token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenErrorResponse'
          description: Failure create token
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      security:
      - OAuth2Credentials: []
      summary: Create access token
      tags:
      - Access token
  /oauth2/revoke:
    post:
      description: Allows clients to notify the authorization server that a previously
        obtained refresh or access token is no longer needed
      operationId: RevokeOAuth2Token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
        required: true
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Successful empty response for unauthorized or any other returned
            http status code.
        "400":
          description: Failed to revoke token
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      security:
      - OAuth2Credentials: []
      summary: Revoke access token
      tags:
      - Access token
  /session:
    delete:
      description: Logs out of the current session and disables it
      operationId: disableSession
      responses:
        "204":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Delete this session and logout
      tags:
      - Session
    get:
      description: Returns session information if still valid
      operationId: getSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: session information
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get current session information
      tags:
      - Session
  /session-refresh:
    post:
      description: Refresh the cookie to keep a user logged in
      operationId: refreshSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: session information
      summary: Refresh Cookie
      tags:
      - Devices
  /invites:
    get:
      description: List outstanding invites for an account
      operationId: listInvites
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invite'
                maxItems: 300
                type: array
          description: Invites that are outstanding
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: List invites
      tags:
      - Invites
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
    post:
      description: Send an email invite to a user
      operationId: sendInvite
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvite'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
          description: Invite sent
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Send invite
      tags:
      - Invites
  /invites/{inviteID}:
    delete:
      description: Revoke an invite that was sent and invalidate the token.
      operationId: disableInvite
      parameters:
      - description: InviteID of the invite to disable
        in: path
        name: inviteID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "204":
          description: Invite was removed
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Disable invite
      tags:
      - Invites
  /invites/{inviteID}/accept:
    put:
      description: Accept an invite and add user to the account
      operationId: acceptInvite
      parameters:
      - description: InviteID of the invite to accept
        in: path
        name: inviteID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          description: Invite was accepted
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Accept invite
      tags:
      - Invites
  /invites/{inviteID}/decline:
    put:
      description: Decline an invite
      operationId: declineInvite
      parameters:
      - description: InviteID of the invite to decline
        in: path
        name: inviteID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "204":
          description: Invite was declined
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Decline invite
      tags:
      - Invites
  /invites/resend:
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
    post:
      description: Send an email re-invite to a user
      operationId: resendInvite
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendInvite'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
          description: Invite sent
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Resend invite
      tags:
      - Invites
  /confirm/invite:
    get:
      description: Confirm an invite is valid
      operationId: confirmInvite
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Call was accepted, check response body for verification data.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
      summary: Confirm invite
      tags:
      - Invites
  /accounts:
    get:
      description: |
        List or search accounts to which the caller is connected.<br><br>
        All supported query parameters are optional. If none are provided
        the response will include all connected accounts. Pagination is
        supported via the `skip` and `count` query parameters.<br><br>
        Searching by name and email will overlap and return results based on relevance.
        <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: listAccounts
      parameters:
      - description: |
          Filter connected accounts by name.<br><br>
          If provided, this query will attempt to find matches against the following Account and Profile fields:
          <ul>
            <li>Account `displayName`</li>
            <li>Individual Profile `firstName`, `middleName`, and `lastName`</li>
            <li>Business Profile `legalBusinessName`</li>
          </ul>
        example: Frank
        in: query
        name: name
        schema:
          type: string
      - description: |
          Filter connected accounts by email address.<br><br>
          Provide the full email address to filter by email.
        example: someone@moov.io
        in: query
        name: email
        schema:
          type: string
      - description: |
          Filter connected accounts by AccountType.<br><br>
          If the `type` parameter is used in combination with `name`, only the corresponding type's name fields will be searched.
          For example, if `type=business` and `name=moov`, the search will attempt to find matches against the display name and Business Profile name fields (`legalBusinessName`, and `doingBusinessAs`).
        example: business
        in: query
        name: type
        schema:
          $ref: '#/components/schemas/AccountType'
      - description: |
          Serves as an optional alias from a foreign/external system which can be used to reference this resource.
        example: 4528aba-b9a1-11eb-8529-0242ac13003
        in: query
        name: foreignID
        schema:
          $ref: '#/components/schemas/ForeignID'
      - description: |
          Filter by the `verificationStatus` of accounts.
        example: resubmit
        in: query
        name: verification_status
        schema:
          $ref: '#/components/schemas/AccountVerificationStatus'
      - description: |
          Filter disconnected accounts.<br><br>
          If true, the response will include disconnected accounts.
        example: true
        in: query
        name: includeDisconnected
        schema:
          type: boolean
      - description: Optional parameter to limit the number of results in the query.
        example: 10
        in: query
        name: count
        schema:
          default: 20
          maximum: 200
          type: integer
      - description: The number of items to offset before starting to collect the
          result set.
        example: 10
        in: query
        name: skip
        schema:
          type: integer
      - description: |
          Filter connected accounts by the capability.
        in: query
        name: capability
        schema:
          $ref: '#/components/schemas/CapabilityID'
      - description: |
          Filter connected accounts by the capability status.
        in: query
        name: capabilityStatus
        schema:
          $ref: '#/components/schemas/CapabilityStatus'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: All connected accounts matching the filter parameters.
        "422":
          description: The request body could not be processed
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: List accounts
      tags:
      - Accounts
    post:
      description: |
        You can create **business** or **individual** accounts for your users (i.e., customers, merchants) by passing the required information to Moov. Requirements differ per account type and requested [capabilities](https://docs.moov.io/guides/accounts/capabilities/requirements/).

        If you're requesting the `wallet`, `send-funds`, `collect-funds`, or `card-issuing` capabilities, you'll need to:
          + Send Moov the user [platform terms of service agreement](https://docs.moov.io/guides/accounts/requirements/platform-agreement/) acceptance. This can be done upon account creation, or by [patching](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account using the `termsOfService` field.

        If you're creating a business account with the business type `llc`, `partnership`, or `privateCorporation`, you'll need to:
          + Provide [business representatives](https://docs.moov.io/api/moov-accounts/representatives/) after creating the account.
          + [Patch](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account to indicate that business representative ownership information is complete.

        Visit our documentation to read more about [creating accounts](https://docs.moov.io/guides/accounts/creating-accounts/) and [verification requirements](https://docs.moov.io/guides/accounts/requirements/identity-verification/).

        Note that the `mode` field (for production or sandbox) is only required when creating a _facilitator_ account. All non-facilitator account requests will ignore the mode field and be set to the calling facilitator's mode.

        To use this endpoint from the browser, you will need to specify the `/accounts.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: createAccount
      parameters:
      - description: |
          Optional header that indicates whether to wait for the connection to be created before returning from the account creation.
        in: header
        name: X-Wait-For
        required: false
        schema:
          $ref: '#/components/schemas/AccountWaitFor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account created
        "409":
          description: ForeignID already associated with another account.
        "422":
          description: The request body could not be processed.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Create account
      tags:
      - Accounts
  /accounts/{accountID}:
    delete:
      description: "To use this endpoint from the browser, you'll need to specify\
        \ the `/accounts/{accountID}/profile.disconnect` scope when generating a [token](https://docs.moov.io/api/#tag/Access-token),\
        \ and provide the changed information.  \n\nThis will sever the connection\
        \ between you and the account specified and it will no longer be listed as\
        \ active in the list of accounts. This also means you'll only have read-only\
        \ access to the account going forward for reporting purposes. \n"
      operationId: disconnectAccount
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "204":
          description: Account disconnected
        "404":
          description: No account with the specified accountID was found.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Disconnect account
      tags:
      - Accounts
    get:
      description: Retrieves details for the account with the specified ID. <br><br>
        To use this endpoint from the browser, you will need to specify the `/accounts/{accountID}/profile.read`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: getAccount
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The created account.
        "404":
          description: No account with the specified accountID was found.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get account
      tags:
      - Accounts
    patch:
      description: "To use this endpoint from the browser, you'll need to specify\
        \ the `/accounts/{accountID}/profile.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/),\
        \ and provide the changed information.  \n\nWhen **can** profile data be updated:\
        \  \n  + For unverified accounts, all profile data can be edited.\n  + During\
        \ the verification process, missing or incomplete profile data can be edited.\n\
        \  + Verified accounts can only add missing profile data.  \n\n  When **can't**\
        \ profile data be updated:  \n  + Verified accounts cannot change any existing\
        \ profile data.  \n\nIf you need to update information in a locked state,\
        \ please contact Moov support.\n"
      operationId: patchAccount
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The patched account.
        "400":
          description: The request body was invalid.
        "404":
          description: No account with the specified accountID was found.
        "409":
          description: "- Account fields locked due to verification status \n - Account\
            \ type cannot be changed \n - ForeignID already associated with another\
            \ account"
        "422":
          description: The request body could not be processed.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Patch account
      tags:
      - Accounts
  /tos-token:
    get:
      description: Generates a non-expiring token that can then be used to accept
        Moov's terms of service. This token can only be generated via API. Any Moov
        account requesting the `collect-funds`, `send-funds`, `wallet`, or `card-issuing`
        capabilities must accept Moov's terms of service, then have the generated
        terms of service token patched to the account. Read more in our [docs](https://docs.moov.io/guides/accounts/requirements/platform-agreement/).
      operationId: getTermsOfServiceToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsOfServiceToken'
          description: The newly generated terms of service token.
        "422":
          description: Required request headers were missing or contained unprocessable
            data
      summary: Get terms of service token
      tags:
      - Accounts
  /accounts/{accountID}/countries:
    get:
      description: Retrieve the specified countries of operation for an account. <br><br>
        To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.read`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: getAccountCountries
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Countries'
          description: The requested countries.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get account countries
      tags:
      - Accounts
    put:
      description: Assign the countries of operation for an account. This endpoint
        will always overwrite the previously assigned values. <br><br> To use this
        endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.write`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: assignAccountCountries
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Countries'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Countries'
          description: Countries assigned to account.
        "422":
          description: The request body could not be processed.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Assign Account Countries
      tags:
      - Accounts
  /accounts/{accountID}/representatives:
    get:
      description: A Moov account may have multiple representatives depending on the
        associated business's ownership and management structure. You can use this
        method to list all the representatives for a given Moov account. Note that
        Moov accounts associated with an individual do not have representatives. <br><br>
        To use this endpoint from the browser, you need to specify the `/accounts/{accountID}/representatives.read`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: listRepresentatives
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Representative'
                type: array
          description: Successfully retrieved representatives
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: List representatives
      tags:
      - Representatives
    post:
      description: Moov accounts associated with businesses require information regarding
        individuals who represent the business. You can provide this information by
        creating a representative. Each account is allowed a maximum of 7 representatives.<br><br>
        To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: createRepresentative
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepresentative'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Representative'
          description: Representative created.
        "404":
          description: The specified account or representative was not found.
        "422":
          description: The request body could not be processed.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Create representative
      tags:
      - Representatives
  /accounts/{accountID}/representatives/{representativeID}:
    delete:
      description: Deletes a business representative associated with a Moov account.<br><br>
        To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write`
        scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: deleteRepresentative
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the representative.
        explode: false
        in: path
        name: representativeID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
        style: simple
      responses:
        "204":
          description: Representative deleted.
        "404":
          description: The specified account or representative was not found.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Delete a representative
      tags:
      - Representatives
    get:
      description: Retrieve a specific representative associated with a given Moov
        account. <br><br> To use this endpoint from the browser, you'll need to specify
        the `/accounts/{accountID}/representatives.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).
      operationId: getRepresentative
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the representative.
        explode: false
        in: path
        name: representativeID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Representative'
          description: The representative.
        "404":
          description: No representative with the specified representativeID was found.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get representative
      tags:
      - Representatives
    patch:
      description: "If a representative's information has changed you can patch the\
        \ information associated with a specific representative ID.<br>  \nTo use\
        \ this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write`\
        \ scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/),\
        \ and provide the changed information.\n\nWhen **can** profile data be updated:\
        \  \n  + For unverified representatives, all profile data can be edited.\n\
        \  + During the verification process, missing or incomplete profile data can\
        \ be edited.\n  + Verified representatives can only add missing profile data.\
        \  \n\n  When **can't** profile data be updated:  \n  + Verified representatives\
        \ cannot change any existing profile data.  \n\nIf you need to update information\
        \ in a locked state, please contact Moov support.\n"
      operationId: patchRepresentative
      parameters:
      - description: ID of the account.
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the representative.
        explode: false
        in: path
        name: representativeID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRepresentativeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Representative'
          description: representative patched
        "404":
          description: The specified account or representative was not found.
        "409":
          description: Representative fields locked due to verification status.
        "422":
          description: The request body could not be processed.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Patch representative
      tags:
      - Representatives
  /users/{userID}:
    get:
      description: Returns the specific user if they have access
      operationId: getUser
      parameters:
      - description: UserID of the user to load
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: user requested
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get user
      tags:
      - Users
    put:
      description: Updates the specific user with the new values
      operationId: updateUser
      parameters:
      - description: UserID of the user to update
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUser'
          description: user requested
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Update User
      tags:
      - Users
  /users/{userID}/accounts:
    get:
      description: Returns the list of accounts a user has access to
      operationId: getUserAccounts
      parameters:
      - description: UserID of the user to load
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of accessible accounts by that user
                items:
                  $ref: '#/components/schemas/UserAccount'
                type: array
          description: user requested
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get accounts user has access to
      tags:
      - Users
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
  /users/{userID}/invites:
    get:
      description: Returns the pending invitiations sent to the user by user on other
        accounts
      operationId: getUserInvites
      parameters:
      - description: UserID of the user to load
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of pending invites
                items:
                  $ref: '#/components/schemas/UserInvite'
                type: array
          description: Pending invites
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get pending invites sent for user
      tags:
      - Users
  /roles:
    get:
      description: Retrieve all roles for the account
      operationId: listRoles
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                maxItems: 300
                type: array
          description: Roles that are outstanding
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: List roles
      tags:
      - Roles
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
    post:
      description: Add a new role for the account
      operationId: createRole
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Role created
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Create role
      tags:
      - Roles
  /roles/{roleID}:
    delete:
      description: Disable a Role under the account
      operationId: disableRole
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the role to update
        in: path
        name: roleID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "204":
          description: Role was removed.
        "404":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Delete role
      tags:
      - Roles
    get:
      description: Retrieve a specific Role under the account
      operationId: getRole
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the role to update
        in: path
        name: roleID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Roles that are outstanding
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Get Role
      tags:
      - Roles
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
    - description: ID of the role to update
      in: path
      name: roleID
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
    put:
      description: Modify an existing Role for the account
      operationId: updateRole
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      - description: ID of the role to update
        in: path
        name: roleID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Role was updated.
        "404":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Update role
      tags:
      - Roles
  /members:
    get:
      description: Retrieve all members connected to the account
      operationId: Members.list
      parameters:
      - description: ID of the account.
        explode: false
        in: header
        name: X-Account-ID
        required: false
        schema:
          $ref: '#/components/schemas/AccountID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Member'
                maxItems: 300
                type: array
          description: Member Users connected to the account
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: List members
      tags:
      - Roles
    parameters:
    - description: ID of the account.
      explode: false
      in: header
      name: X-Account-ID
      required: false
      schema:
        $ref: '#/components/schemas/AccountID'
      style: simple
  /users/{userID}/devices:
    get:
      description: Returns the list of devices that are currently remembered
      operationId: listDevicesForUser
      parameters:
      - description: Which userID to list the devices of
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                maxItems: 300
                type: array
          description: Devices
        "429":
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Request was refused due to rate limiting.
          headers:
            X-Retry-In:
              description: How long (in milliseconds) to wait until able to retry
                the request.
              schema:
                example: 46.748934ms
                format: duration
                type: string
        default:
          content:
            text/plain:
              schema:
                example: ""
                maxLength: 0
                pattern: \s{0}
                type: string
          description: Empty response for unauthorized or any other returned http
            status code.
      summary: Devices for a user
      tags:
      - Devices
  /users/{userID}/devices/{deviceID}:
    delete:
      description: Disable a specific device
      operationId: disableDeviceForUser
      parameters:
      - description: Which userID to list the devices of
        in: path
        name: userID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: Which device that belongs to the user to get
        in: path
        name: deviceID
[...]
