name: Go

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    - cron: "0 12 * * *" # "12:00 UTC" - https://crontab.guru/#0_12_*_*_*e
  workflow_dispatch:

env:
  MOOV_PUBLIC_KEY: ${{ secrets.MOOV_PUBLIC_KEY }}
  MOOV_SECRET_KEY: ${{ secrets.MOOV_SECRET_KEY }}
  PLAID_CLIENT_ID: ${{ secrets.PLAID_CLIENT_ID }}
  PLAID_SECRET: ${{ secrets.PLAID_SECRET }}

jobs:
  lint:
    name: Go Linting
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Lint
      run: make check
      env:
        SKIP_TESTS: yes

  build:
    name: Go Build (CGO)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Install make (Windows)
      if: runner.os == 'Windows'
      run: choco install -y make mingw

    - name: Check
      run: make check
      env:
        SKIP_LINTERS: yes

    - name: Report Failure
      uses: tokorom/action-slack-incoming-webhook@main
      if: github.event_name == 'schedule' && failure()
      env:
        INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      with:
        text: |+
          moov-go CI Failure

          Github Actions: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
